<h1><%= @user.name %>'s profile</h1>
<p>My photos: <%= link_to 'Create new photo', new_photo_path, class: 'btn' %></p>

<table>
  <thead>
  <tr>
    <th>Photo</th>
    <th>Title</th>
    <th colspan="1">Actions</th>
  </tr>
  </thead>

  <tbody>
  <%@photos.each do |photo| %>
      <tr>
        <td><%= image_tag photo.image_url(:thumb)%></td>
        <td><%= link_to photo.title, photo %></td>
        <td><%= link_to 'Remove', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>