<%= image_tag @photo.image_url(:full) %>
<%= @photo.title %>
Average score: <%= @photo.average_score %>
<div >
  <%= simple_form_for [@photo, @photo.comments.build] do |f| %>
      <%= f.input :text, placeholder: 'Add a comment...', class: "comment_content", id: "comment_content_#{@photo.id}" %>
      <%= f.input :rate, collection: 1..5 %>
      <%= f.submit %>
  <% end %>
</div>

<%= render @photo.comments, photo: @photo %>